[package]
name = "cansat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rtt-target = { version = "0.3.1", features = ["cortex-m"] }